---
import Layout from "../../layouts/Layout.astro";
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import Tags from "../../components/Tags";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const submissions = await getCollection(
    "submissions"
  );
  return submissions.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

const author: CollectionEntry<"authors"> | undefined = await getEntry(entry.data.author) as CollectionEntry<"authors">;
---

<Layout title={entry.data.title + " | Adapting Lovecraft"}>
  <main>
    <h1>{entry.data.title}</h1>
    
		<div class="text-container">
      <a href={"/author/" + entry.data.author.slug}><h3 class="submission__author">{author.data.name}</h3></a>
      <Tags tags={entry.data.tags} />
      <Content />
      <div id="disqus_thread"></div>
    </div>
    <script>
      console.log("script running")
        var disqus_config = function () {
            this.page.url = new URL(Astro.url.pathname, Astro.site);  
            this.page.identifier = new URL(Astro.url.pathname); 
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://adaptinglovecraft.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
  </main>
</Layout>

<style>
  main {
    color: var(--text);
    margin: 0 auto;
    padding: 0 1.5rem 5rem;
    max-width: 1100px;
    min-height: 95dvh;
  }
  h1 {
    margin-top: 0.5rem;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }
  .submission__author {
    margin-bottom: 0;
    color: var(--grey-text)
  }
  a {
    color: #861c03; !important
  } 
  .text-container {
    font-size: 1.125rem;
    line-height: 1.4;
    padding: 0.1rem 1rem;
    margin: 0 auto;
    max-width: 65ch;
    background-color: #000000ee;
    border-radius: 0.5rem;
    overflow: hidden;
    font-family: 'Quattrocento', serif;
  }
</style>
