@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald:wght@300;400;500;700&family=Quattrocento&display=swap');
:root {
	--background-color: #000000;
	--text: #c0c0c0;
	--grey-text: #97918f;
	--link: #861c03;
	--card: #0e0e0ebb;
	--page-background: #0e0e0ebb;
	--footer-background: #4F6272;
	--announcement: darkgreen;
	--video-games: darkblue;
	--podcast: darkred;
	--tabletop: purple;
	--comics: chocolate;
	--tv-film: darkgoldenrod;
	--concerning-fun: darkcyan;
	--written-fiction: darkslateblue;
}
* {
	box-sizing: border-box;
}
html {
	font-family: 'Inter', system-ui, sans-serif;
	background-color: var(--background-color);
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', system-ui, sans-serif;
}
a {
	color: var(--link);
	text-decoration: none;
}
body {
	margin: 0;
	padding-top: 6.85rem;
	background-image: url('/media/worldsnotvisible_3840_2160.webp');
	background-size: auto auto;
	background-position: top;
}
code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}
img {
	max-width: 100%;
}