---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Adapting Lovecraft">
  <main>
    <h1>The Project</h1>
    <div class="text-container">
      <p>
        What’s the purpose of <strong>Adapting Lovecraft</strong>? For one
        thing, this site could become a repository for all things concerning
        Lovecraft adaptations: a good stop on a journey of discovery. On a very
        basic level, it speaks about adaptations of H.P. Lovecraft’s work, or
        the wider mythos he originated: about the meaning and value, the
        possibilities and problems, of all things Lovecraftian. Here, we’re
        interested in anything and everything Lovecraft, from Turkish
        translations to Italian fumetti to American film and international
        videogames. But, like the book it is a part of , in all things Lovecraft
        adaptation, it is also interested in what these adaptations tell us
        about larger sets of concerns. Such larger concerns include questions
        about the philosophy of adaptation and the meaning of the idea of the
        “Lovecraftian,” for instance.
      </p><p>
        We aim to be a resource on Lovecraft and adaptation, but also an attempt
        to rethink the forms of collective (academic) engagement. We’re very
        much committed to publishing in a variety of formats, from scholarly
        argumentative essays through reviews and comments to video essays and
        podcasts. All forms are game in exploring how best to discuss Lovecraft
        adaptation. And last but not least, we also want this site to reflect on
        itself, on its interest in Lovecraftian fiction, its status as a
        website, the affordances of its own form.
      </p>

      <p>We encourage you to join us in this project.</p>
    </div>
  </main>
</Layout>

<style>
  main {
    color: var(--text);
    margin: 0 auto;
    padding: 0 1.5rem 5rem;
    max-width: 1100px;
    min-height: 95dvh;
  }
  h1 {
    margin-top: 0.5rem;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }
  .text-container {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 0.1rem 1rem;
    margin: 0 auto;
    max-width: 70ch;
    background-color: #000000bb;
    border-radius: 0.5rem;
  }
</style>
