---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Adapting Lovecraft">
  <main>
    <h1>How to Submit</h1>
    <div class="text-container">
      
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Vitae tortor condimentum lacinia
    quis vel eros donec ac odio. Varius morbi enim nunc faucibus a pellentesque sit
    amet. Sodales neque sodales ut etiam sit amet. Congue nisi vitae suscipit tellus
    mauris a diam maecenas sed. Ullamcorper velit sed ullamcorper morbi tincidunt
    ornare massa. Aliquet nibh praesent tristique magna sit amet. Duis convallis
    convallis tellus id interdum velit. Montes nascetur ridiculus mus mauris vitae
    ultricies leo integer. Maecenas pharetra convallis posuere morbi leo. Turpis
    nunc eget lorem dolor sed viverra ipsum nunc aliquet.</p>
    <p>Nisl rhoncus mattis rhoncus
    urna neque viverra justo nec ultrices. Aliquam purus sit amet luctus venenatis
    lectus. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. Leo vel
    fringilla est ullamcorper eget nulla facilisi. In ante metus dictum at tempor
    commodo ullamcorper a. Dui nunc mattis enim ut. Lectus nulla at volutpat diam
    ut venenatis tellus in. Tristique senectus et netus et. Enim nunc faucibus a
    pellentesque sit amet. Pretium quam vulputate dignissim suspendisse in est ante
    in nibh. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Mattis
    molestie a iaculis at erat pellentesque. Pharetra massa massa ultricies mi. Purus
    in massa tempor nec feugiat nisl pretium fusce.</p>
  </div>
  </main>
</Layout>

<style>
  main {
    color: var(--text);
    margin: 0 auto;
    padding: 0 1.5rem 5rem;
    max-width: 1100px;
    min-height: 95dvh;
  }
  h1 {
    margin-top: 0.5rem;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }
  .text-container {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 0.3rem 1rem;
    margin: 0 auto;
    max-width: 70ch;
    background-color: #000000bb;
    border-radius: 0.5rem;
  }
</style>
