---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Adapting Lovecraft">
  <main>
    <h1>How to Submit</h1>
    <div class="text-container">
      <p>
        We’re always looking for contributors! Whether you’re an interested
        reader, viewer, listener, or player, a beginning student in a discipline
        related to culture, an advanced student or PhD candidate, or anything
        and everything at all: if you have an article to pitch, contact us:
      </p><p>
        <a href="mailto:lovecraftadaptationq@gmail.com" class="button">via Mail</a>
      </p><p>
        <a href="https://discord.gg/s3MQhj5H2F" class="button">on Discord</a>
      </p>
      <p>
        We want to include as many different ways of thinking about Lovecraft
        Adaptation as possible, so pitch us your ideas; or, if you’re in
        Frankfurt, come and see us. If you have an idea, but no access to the
        texts needed, by all means also let us know.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    color: var(--text);
    margin: 0 auto;
    padding: 0 1.5rem 5rem;
    max-width: 1100px;
    min-height: 95dvh;
  }
  h1 {
    margin-top: 0.5rem;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }
  .text-container {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 0.3rem 1rem;
    margin: 0 auto;
    max-width: 70ch;
    background-color: #000000bb;
    border-radius: 0.5rem;
  }
  .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    min-width: 12ch;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #861c03;
    color: var(--text);
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
  }
</style>
